section {
	display: grid;
	height: 100vh;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "change_left change_right";
	grid-gap: 4px;
}

#change_left {
	background-color: red;
	grid-area: change_left;
}

#change_right {
	background-color: green;
	grid-area: change_right;
}

iframe {
	width: 100%;
}
