section {
	display: grid;
	height: 100vh;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "edit_left edit_right";
	grid-gap: 4px;
}

#edit_left {
	/*background-color: red;*/
	grid-area: edit_left;
}

#edit_right {
	/*background-color: green;*/
	grid-area: edit_right;
}

select {
	width: 50%;
}

iframe {
	width: 100%;
	height: 100%;
}
