{% extends 'base.html' %}

{% block head %}

<link rel='stylesheet' href="{{url_for('static', filename='delete_data.css')}}">

{% endblock %}


{% block section %}

<section>

	<div id='sec_left'>
                <form id='delete_form' action="/delete_data_post" method="POST">
                        <div class='form_label'>Row Number ID</div>
			<input type='text' name='row_number_html'></br>
			
			<input type='submit' name='submit' value='DELETE'>
		</form>
	</div>

</section>

{% endblock %}
