{% extends 'base.html' %}


{% block head %}

<link rel='stylesheet' href="{{url_for('static', filename='index.css')}}">

{% endblock %}



{% block section %}

<section>
	<div id='sec_left'>
		<form action=' ' name='main_form'>
			<label>Full Name</label>
			<input type='text'>
		</form>
	</div>

	<div id='sec_right'>
		<form action=' ' name='main_form'>
                        <label>Nick Name</label>
                        <input type='text'>
                </form>
	</div>
	
	<div id='sec_bottom'>
		<p>PART3</p>
	</div>
</section>

{% endblock %}
