{% extends 'base.html' %}


{% block head %}

<link rel='stylesheet' href="{{url_for('static', filename='new_info.css')}}">

{% endblock %}



{% block section %}

<section>
	<div id='sec_left'>
		<form id='main_form' action="/new_info_post" method="POST">
			<div class='form_label'>Full Name</div>
			<input type='text' name='full_name_html'>
			<div class='form_label'>Gender</div>
                        <input type='text' name='gender_html'><br>
			<div class='form_label'>Month of Birth</div>
			<input type='text' name='month_of_birth_html'></br>
			<div class='form_label'>Date of Birth</div>
                        <input type='text' name='date_of_birth_html'><br>
			<div class='form_label'>Paternal State of Origin</div>
                        <input type='text' name='paternal_state_of_origin_html'><br>
			<div class='form_label'>School</div>
                        <input type='text' name='school_html'><br>
			<div class='form_label'>Level In School</div>
                        <input type='text' name='level_in_school_html'><br>
			<div class='form_label'>State of Residence</div>
                        <input type='text' name='state_of_residence_html'><br>
			<div class='form_label'>Digital Skill</div>
                        <input type='text' name='digital_skill_html'><br>
			<div class='form_label'>Hubby</div>
                        <input type='text' name='hubby_html'><br>
			<div class='form_label'>Marital Status</div>
                        <input type='text' name='marital_status_html'><br>
			<div class='form_label'>Best Food</div>
                        <input type='text' name='best_food_html'><br>
			<div class='form_label'>Best Friend</div>
                        <input type='text' name='best_friend_html'><br>
		</form>
	</div>

	<div id='sec_right'>
		<div class='form_label'>Nickname</div>
		<input type='text' form='main_form' name='nickname_html'><br>
		<div class='form_label'>Religion</div>
		<input type='text' form='main_form' name='religion_html'><br>
		<div class='form_label'>Phone Number</div>
		<input type='text' form='main_form' name='phone_number_html'><br>
		<div class='form_label' >Maternal State of Origin</div>
		<input type='text' form='main_form' name='maternal_state_of_origin_html'><br>
		<div class='form_label'>Department</div>
                <input type='text' form='main_form' name='department_html'><br>
		<div class='form_label'>Know From</div>
                <input type='text' form='main_form' name='known_from_html'><br>
		<div class='form_label'>State of NYSC</div>
                <input type='text' form='main_form' name='state_of_nysc_html'><br>
		<div class='form_label'>Non-Digital Skill</div>
                <input type='text' form='main_form' name='non_digital_skill_html'><br>
		<div class='form_label'>Side Hustle</div>
                <input type='text' form='main_form' name='side_hustle_html'><br>
		<div class='form_label'>Future Dream</div>
                <input type='text' form='main_form' name='future_dream_html'><br>
		<div class='form_label'>Best Color</div>
                <input type='text' form='main_form' name='best_color_html'><br>
		<div class='form_label'>Favorite Place</div>
                <input type='text' form='main_form' name='favorite_place_html'><br>
	</div>
	
	<div id='sec_bottom'>
		<input id='submit_button' type='submit' name='submit_html' form='main_form' value='Register into Database'>
	</div>
</section>

{% endblock %}
